* {
    
    /* Default */
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: Helvetica;
    background-color: Black;
    color: White;
}

/* Header */
#header {
    position: fixed;
    left: 0;
    top: 0;
    text-align: center;
    font-size: 24px;
    background-color: White;
    margin: auto;
    border-style: solid;
    border-width: thin;
    height: 100px;
    width: 100%;
}

#header a {
    display: inline-block;
    margin: 30px 50px;
    text-decoration: none;
    color: Black;
    background-color: White;
}

#header img {
    position: fixed;
    left: 25px;
    top: 25px;
    width: 50px;
    height: 50px;
}

#header a:hover {
    color: DarkCyan;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    border-style: solid;
    border-width: thin;
    background-color: White;
}

/* Index page */
.credentials {
    clear: both;
    position: absolute;
    left: 35%;
    float: right;
    margin-top: 100px;
}

.credentials .name {
    font-size: 40px;
}

.credentials .job {
    font-size: 25px;
}

.credentials .quote {
    margin-top: 100px;
}

.credentials .quote-info {
    margin-top: 30px;
    font-style: italic;
}

.profile-pic img {
    width: 200px;
    float: left;
    margin-top: 100px;
    margin-left: 300px;
}

.prose {
    text-align: center;
    color: LightSkyBlue;
    border-style: solid;
    border-color: RoyalBlue;
    width: 50%;
    margin: auto;
}

.profile-pic-about {
    text-align: center;
    /*  
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    */
}

/* A section-box is a small box that displays information like publications or teaching */
.section-box {
    text-align: center;
    border-style: solid;
    margin: 5px 5px;
    color: RoyalBlue;
}

.section-box h1 {
    color: RoyalBlue;
    font-size: large;
    margin: 5px 0px;
}

.section-box h2 {
    color: LightSkyBlue;
    font-size: medium;
    margin: 5px 0px;
}

.section-box h3 {
    color: #0000FF;
    font-size: medium;
    margin: 5px 0px;
}

.section-box a:hover {
    color: DarkCyan;
}

.section-group {
    border-style: solid;
    margin: 5px 200px;
}

.section-group-title {
    text-align: center;
}
