* {
    font-family: Helvetica;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    color: RoyalBlue;
}

h2 {
    margin-top: 0;
    text-align: center;
    color: LightSkyBlue;
    font-size: 17px;
}

.profile-pic {
    text-align: center;
    /*  
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    */
}

.sidebar {
    width: 120px;
    background-color: LightSkyBlue;
    position: fixed;
    height: 100%;
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    padding-top: 20px;
}

.sidebar a {
    padding: 0px 8px 0px 10px;
    font-size: 17px;
    color: RoyalBlue;
    display: block;
}

.sidebar a:hover {
    color: DarkCyan;
}
