* {
    
    /* Default */
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: Helvetica;
}

html, body {
    height: 100%;
}

ul {
    list-style-type: none;
}

a, a:visited {
    color: inherit;
}

a:hover {
    color: Grey;
}

.logo {
    width: 50px;
    margin-left: 20px;
    cursor: pointer;
    float: left;
    margin-top: 15px;
}

#header {
    background-color: White;
    width: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    position: fixed;
}

#header nav {
    width: 45%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}

#header nav ul {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

#header nav a {
    font-size: 20px;
    color: Black;
    text-decoration: none;
}

#header nav a:hover {
    color: Grey;
}

.container {
    clear: both;
    background-color: Black;
    height: 100%;
    z-index: -1;
    overflow: auto;
    color: white;
    margin-top: 80px;
}

.content-column {
    width: 40%;
    margin: 100px auto auto auto;
    color: white;
    padding-left: 20px;
}

.content-column h1 {
    margin-bottom: 30px;
}

.content-column p {
    margin: 15px 0px;
}

.content-column figure {
    padding-top: 80px;
}

.content-column blockquote {
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
}

.content-column figcaption {
    font-style: italic;
}

.profile-pic {
    width: 10%;
    margin: 100px 0px 0px 320px;
    float: left;
}

.network-pic {
    width: 30%;
    float: right;
    margin-right: -80px;
    margin-top: 20px;
}

.name {
    text-align: left;
    padding-top: 35px;
    font-size: 3em;
}

.job {
    text-align: left;
    font-size: 2em;
}

#footer {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: White;
    overflow: hidden;
    position: fixed;
}

#footer img {
    width: 2%;
    margin-top: 7px;
    margin-left: 8px;
    float: left;
}

.section-box {
    margin-bottom: 20px;
}

.section-box h1 {
    margin: 5px 0px;
    font-size: 1.5em;
}

.section-box h2, h3 {
    font-size: 1.2em;
}

.section-box h4 {
    display: inline;
    font-size: 0.9em;
}
