* {
    font-family: Helvetica;
}

h1 {
    text-align: center;
    color: Tomato;
}

.prose {
    text-align: center;
    color: LightSkyBlue;
    border-style: solid;
    border-color: RoyalBlue;
    width: 50%;
    margin: auto;
}

.profile-pic {
    text-align: center;
    /*  
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    */
}

/* Header */
#header h1 {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    color: RoyalBlue;
}

#header h2 {
    margin-top: 0;
    text-align: center;
    color: LightSkyBlue;
    font-size: 17px;
}

/* Side bar */
#sidebar {
    width: 120px;
    background-color: LightSkyBlue;
    position: fixed;
    height: 100%;
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    padding-top: 20px;
}

#sidebar a {
    padding: 0px 8px 0px 10px;
    font-size: 17px;
    color: RoyalBlue;
    display: block;
}

#sidebar a:hover {
    color: DarkCyan;
}

/* A section-box is a small box that displays information like publications or teaching */
.section-box {
    text-align: center;
}

.section-box h1 {
    color: Tomato;
}

.section-box h2 {
    color: Purple;
}

.section-box h3 {
    color: Green;
}

.section-group-title {
    text-align: center;
}
